/* header头部开始 */
#header{
    height: 32px;
    background: #f2f2f2;
    font-size:12px;
    line-height: 32px;
    border-bottom: 1px solid #eee;
    font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
#login-info a,#login-info span,#quick-menu a{
    color: #999;
}
#login-info a{
    padding-left: 12px;
}
#login-info a:hover{
    color:#ff0036;
}
#login-info{
    float: left;
}
#quick-menu{
    float: right;
}
#quick-menu .menu{
    float: left;
    padding: 0 14px;
    cursor: pointer;
}
#quick-menu .menu:hover >a{
    color: #ff0036;
}
#quick-menu .iconfont{
    font-size: 12px;
    color: #ff0036;
}
#quick-menu .triangle{
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px;
    height: 33px;
}
#quick-menu .triangle:hover{
    background: #fff;
    border-color: #eee;
}
#quick-menu .triangle:hover > a{
    text-decoration: underline;
}
#quick-menu .triangle::after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #bbb transparent transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    right: 4px;
}
#quick-menu .triangle:hover::after{
    transform: rotate(180deg);
    transition: transform .5s ease;
    transform-origin: 3px 1.5px;
}
#quick-menu .triangle:hover .submenu{
    display: block;
}
#quick-menu .submenu{
    width: 74px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #eee;
    position: absolute;
    top: 33px;
    left: -1px;
    padding: 0 10px;
    display: none;
    z-index: 1;
    background: #fff;
} 
#quick-menu .submenu a:hover{
    color: #ff0036;
    text-decoration: underline;
}
#quick-menu .phone{
    position: relative;
}
#quick-menu .qr-code{
    width: 175px;
    height: 227px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: -43px;
    box-shadow: 0 0 5px #aaa;
    display: none;
    z-index: 1;
}
#quick-menu .phone:hover .qr-code{
    display: block;
}
#quick-menu .qr-code::after{
    content: '';
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -8px;
    left: 85px ;
}
/* header头部结束 */
/* side-bar右侧导航开始 */
#side-bar{
    width: 35px;
    background: #000;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
}
#side-bar .icon-shouji01{
    color: #ff0036;
    float: left;
    margin-top: 200px;
    font-size: 40px;
}
#side-bar .vip{
    width: 90px;
    height: 40px;
    background: #999;
    position: absolute;
    top: 200px;
    left: -180px;
    text-align: center;
    line-height: 40px;
    transition: opacity .3s linear, left .3s linear;
    opacity: 0;
    visibility: hidden;
}
#side-bar .content:hover .vip{
    left: -90px;
    visibility: visible;
    opacity: 1;
}
#side-bar .arrow{
    width: 15px;
    height: 15px;
    background: #999;
    position: absolute;
    right: -8px;
    top: 12px;
    transform: rotate(45deg);
}
/* side-bar结束 */
/* logo-search开始 */
#logo-search .logo,#logo-search .search{
    float: left;
}
#logo-search{
     position: relative;
}
#logo-search .search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#logo-search .search-form{
    width: 623px;
    height: 36px;
    border: 2px #ff0036 solid;
}
#logo-search .search-input{
    width: 483px;
    height: 100%;
    border: 0;
    outline: none;
    font-size: 18px;
    text-indent: 10px;
}
#logo-search .search-button{
    width: 132px;
    height: 100%;
    background: #ff0036;
    color: #fff;
    border: none;
    float: right;
    font-size: 20px;
    letter-spacing: 5px;
}
#logo-search .hot-query{
    margin-top: 10px;
}
#logo-search .hot-query li{
    float: left;
    border-right: 1px solid #999;
    padding: 0 12px;
}
#logo-search .hot-query a{
    color: #999;
    font-size: 14px;
}
#logo-search .hot-query .first{
    padding-left: 0;
}
#logo-search .hot-query .last{
    border-right: none;
}
#logo-search .hot-query .hot-query-highlight a{
    color: #ff0036;
}
/* logo-search结束 */
/* main-nav开始 */
#main-nav{
    height: 35px;
    line-height: 35px;
}
#main-nav .wrapper{
    margin-left: 200px;
}
#main-nav li{
    float: left;
    padding: 0 8px;
}
#main-nav li a{
    color: #000;
}
#main-nav img{
    width: 100px;
    height: 35px;
    margin-top: 3px;
}